.content
  %h1 Welcome
  %p Welcome to Above All Compassion.
  %p Here our motto is: "Marijuana cures almost everything! And what it doesn't cure, well, atleast you'll be hi!"
  %p Buy some of our stuff, and forget about your troubles!
