.content.span-20.last
  %p#notice= notice
  - if @cart.product_line_items.any?
    %table#cart-list
      %tr
        %th Name
      - @cart.product_line_items.each do |line_item|
        %tr.product
          %td= line_item.product.title
    %p= button_to 'Checkout', new_order_path, :method => :get
  - else
    %p Your Cart Is Empty
