= "Hello, #{@user.first_name}!"

:plain
  We have reviewed your account!

  We have decided that you meet all of our requirements, and you can now begin using our website to purchase your medicine.

  Just navigate to: http://www.aboveallcompassion.com/products/ to view all of our products, and order what you require.

  Thanks for shopping with us!
