%p= "Hello, #{@user.first_name}!"

%p We have reviewed your account!

%p We have decided that you meet all of our requirements, and you can now begin using our website to purchase your medicine.

%p
  Just navigate to
  = link_to "Products", products_url
  to view all of our products, and order what you require.

%p Thanks for shopping with us!
