%p= "Hello, #{@user.first_name}!"

%p It appears that you have changed your account information.

%p Unfortunately, any account information changes need to be reviewed by our administrators. Until your changes have been reviewed, you will no longer be able to use the site to purchase anything.

%p When the review process has been completed you will receive another email informing you that you can access the store again.

%p Thanks for you patience!
