= "Hello, #{@user.first_name}!"

:plain
  It appears that you have changed your account information.

  Unfortunately, any account information changes need to be reviewed by our administrators. Until your changes have been reviewed, you will no longer be able to use the site to purchase anything.

  When the review process has been completed you will receive another email informing you that you can access the store again.

  Thanks for you patience!
