////////////////////////////////////
// ORDER IF IMPORTS IS IMPORTANT! //
////////////////////////////////////

// compass mixins here at top
@import 'compass/css3';
@import 'compass/css3/border-radius';
@import 'compass/typography/vertical_rhythm';
@import 'compass/typography/lists/horizontal-list';
@import 'compass/layout';
@import 'compass/layout/stretching';
@import 'compass/utilities/general/min';
@import 'compass/utilities/tables/scaffolding';
@import 'compass/utilities/tables/alternating-rows-and-columns';

// Here's where we define some default constants
@import 'partials/base';

// Then we'll import the compass extension
@import 'html5-boilerplate';

// Import all the default blueprint modules so that we can access their mixins.
@import 'blueprint';

// Import the non-default scaffolding module.
@import 'blueprint/scaffolding';

// I really like the idea of normalize, but it seems to be somehow mangling my
// styles define below. I am not sure why it takes precedent over things in
// html5-boilerplate-fonts and what not, but it is!
@import 'normalize';
@import 'partials/overrides';

// Now, you can simply include everything
// (except media) by uncommeting this line
//@include html5-boilerplate;
// Or, you can pick and choose only the sections
// you want by using the these includes
// This are all included separately in overrides
//@include html5-boilerplate-reset;
//@include html5-boilerplate-fonts;
//@include html5-boilerplate-styles;
//@include html5-boilerplate-helpers;

// Finally, put your own styles in these partials
// and add more as needed (i.e. forms, tables, nav)
@import 'partials/fonts';
@import 'partials/page';
@import 'partials/navigation';

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint;

@include establish-baseline;
/*@include sticky-footer(30px, "#content", "#content_footer", "#footer");*/

body {
  background: $background-color;

  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
  @include blueprint-scaffolding;

  #container {
    @include container;
    border: 1px solid $border-color;
    @include leader;
  }

  #header {
    @include column($blueprint-grid-columns, true);
    background: $header-background-color;
    @include adjust-font-size-to(90px);
    text-align: center;
    font-family: georgia serif;
    padding-top: $base-line-height;
    padding-bottom: $base-line-height;

    a { color: $font-color; }
  }

  #content {

    @include column($blueprint-grid-columns, true);
    background: $content-color;
    padding: $base-line-height;
    width: $content-width;
    @include min-height(400px);

    table {
      @include leader;
      @include trailer;
      @include table-scaffolding;
      @include alternating-rows-and-columns(#E7E0E2, white, #000000);
      width: $content-width;
      thead { border-bottom: 1px solid $border-color; }
      th { text-align: left; }
    }
  }

  #content.carts {
    // Very specific selector, just needed for the 'Update' button on the cart
    form.edit_cart input[type="submit"] {
      float: right;
    }
  }

  #footer {
    @include column($blueprint-grid-columns, true);
    background: $menu-background;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    text-align: center;
  }
}

// Import page specific files here
@import 'products';
@import 'users';

// Print based stuff
body {
  /*@include blueprint-print(true);*/
}

// Media should come last
@import 'partials/media';
