// import each SCSS file here and they will be included on each page
@import "bourbon";
@import "products";
@import "partials/tabs";

@mixin round-corners($pixels) {
  -moz-border-radius: $pixels;
  -webkit-border-radius: $pixels;
  border-radius: $pixels;
}

body {
  background: white;
  font-family: Arial;
}

.header {
  padding-top: 20px;

  img {
    /*@include round-corners(10px);*/
    /*padding: 1em;*/
    /*background: $blue;*/
  }
}

.flash {
  margin-top: 10px;
}

#main {
  /*@include round-corners(10px);*/
  padding: 2em;
  background: white;
  border: 2px solid black;
  margin: 0;
  padding: 0;
}

.content {
  padding: 24px;
}

#nav-links {
  text-align: right;

  li {
    list-style-type: none;
    display: inline-block;
  }

  a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    @include round-corners(10px);
    padding: 3px;
  }

  input {
    background: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    @include round-corners(10px);
    padding: 3px;

    /* Don't particularily like specifying these so fine grained. */
    /* But since it's only for ONE button, probably ok */
    font-size: 12px;
    height: 25px;
  }
}
