// import each SCSS file here and they will be included on each page
@import "pages";
@import "partials/tabs";

@mixin round-corners($pixels) {
  -moz-border-radius: $pixels;
  -webkit-border-radius: $pixels;
  border-radius: $pixels;
}

body {
  background: white;
}

.header {
  padding-top: 20px;

  img {
    /*@include round-corners(10px);*/
    /*padding: 1em;*/
    /*background: $blue;*/
  }
}

.content {
  /*@include round-corners(10px);*/
  padding: 2em;
  background: white;
  border: 2px solid black;
  margin: 0;
}

#nav-links {
  text-align: right;

  a {
    color: black;
    text-decoration: none;
    border: 2px solid black;
    @include round-corners(10px);
    padding: 3px;
  }

  input {
    background: white;
    color: black;
    text-decoration: none;
    border: 2px solid black;
    @include round-corners(10px);
    padding: 3px;
  }
}
