// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#products-list {
  border-right: 2px solid black;
  height: auto;
  padding: 0;
  margin: 0;
}
