#products-list {
  @include column(6);
  @include leader;
  @include trailer;

  text-align: center;

  .product-small {
    border: 2px dotted $border-color;
    @include border-radius;
    padding: 5px;
    margin: 5px;

    img {
      border: 2px solid $border-color;
    }

    &:hover {
      background: $menu-background;
      cursor: pointer;
      cursor: hand;
    }
  }
}

#product-description {
  @include column(14,true);
  @include trailer;

  #image {
    float: left;
    padding: 10px;
  }

  #button {
    float: right;
  }
}
