#products-list {
  @include product-tile;
  @include column(5);
  @include leader;
  @include trailer;
  text-align: center;
}

#product-description {
  @include column(17,true);
  @include trailer;

  #image {
    float: left;
    padding: 10px;
  }

  #button {
    float: right;
  }
}
