#content .simple_form.user {
  .left {
    @include column(11);
  }

  .right {
    @include column(11,true);
  }

  .bottom {
    @include column($blueprint-grid-columns, true);
  }

  @include blueprint-form-layout;
  @include blueprint-form-borders;
  @include blueprint-form-sizes(250px);

  label {
    width: 100px;
    padding-right: 10px;
    padding-top: .75em;
    float: left;
    display: block;
    text-align: right;
  }

  .hint {
    display: none;
  }

  fieldset {
    margin-bottom: 0;
    margin-top: 22px;
  }

  input[type=submit] {
    margin-top: 15px;
  }

  input[type=file] {
    width: 250px;
    margin-top: 12px;
  }

  .field_with_errors {
    border: 1px solid red;
  }

  span.help {
    @include adjust-font-size-to(14px);
    text-align: center;
  }

  .error {
    display: none;
  }
}
