%h1 Our products

#products-list
  - if can? :create, Product
    = link_to 'Create A New Product', new_product_path
  - @products.each do |product|
    .product-small
      .image
        = link_to image_tag(product.image.url(:thumb), size: "100x100"), product
      .title
        = product.title
