:css
  div.container {
    background: #E0E0E0;
    text-align: center;
  }
  div.banner {
    background: #CAC5CC;
    border: 1px solid #97989E;
    padding: 10px;
    text-align: left;
    width: 700px;
    margin: 0 auto;
  }
  div.content {
    border: 1px solid #97989E;
    background: white;
    text-align: left;
    width: 700px;
    padding: 10px;
    margin: 0 auto;
    font-size: 16px;
  }
  div.noreply {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }
  h1 {
    font-size: 72px;
  }

.container
  .banner
    %h1 Above All Compassion

  .content
    .noreply
      Please, do not reply to this email. If you have any questions or concerns, please contact 
      =mail_to "help@aboveallcompassion.com"
      If this email has reached you by mistake, please disregard it.

    = yield
